<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find thu_data_glove)/urdf/hand.urdf.xacro hand:='rh'" />

  <node pkg="thu_data_glove" type="thu_data_glove" name="thu_data_glove" output="screen" />

  <!-- publish transforms for imus (only translation) -->
  <node pkg="thu_data_glove" type="imu_tf" name="imu_tf" output="screen" />

  <!-- Apply some filter to the raw sensor data -->
  <node pkg="thu_data_glove" type="kinematic_filter" name="kinematic_filter" output="screen" />

  <!-- publish joint states calculated by the imus-->
  <node pkg="thu_data_glove" type="state_publisher" name="state_publisher" output="screen" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

</launch>
